/* common shared styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* web primary color */
.text-primary{
    color: rgba(253, 110, 10, 1);
}


/* primary button color */
.button-primary{
    border-radius: 5px;
    border: 0;
    background: rgba(253, 110, 10, 1);
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
}
.button-primary-white {
    border-radius: 5px;
    background-color: #FFF8F3;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgba(253, 110, 10, 1);
    padding: 18px 35px;
    border: 1px solid rgba(253, 110, 10, 1);
    margin-left: 10px;
}




/* Nav related style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
     margin-right: 200px;
}
.nav-title {
    font-family: "Open Sans", sans-serif;
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
     list-style: none;
     margin-right: 50px;
     
}
nav a {
    text-decoration: none;
    color: #474744;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
/* header related style  */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
   justify-content: space-between;
}
.banner-content {
    max-width: 650px;
}
.banner-heading {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: #474744;
    margin-bottom: 0px;
}
.banner-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 75px;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 0px;
}
.banner-summary {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin-bottom: 20px;
}
.portfolio-pic {
    width: 584px; 
    height:676px;
}

